<mat-toolbar class="footer" color="primary">
  <div class="footer-content">
    <!-- Footer Links -->
    <div class="footer-links">
      <a 
        mat-button 
        *ngFor="let link of footerLinks" 
        [routerLink]="link.route"
        class="footer-link">
        {{ link.name }}
      </a>
    </div>

    <!-- Social Links -->
    <div class="social-links">
      <button 
        mat-icon-button 
        *ngFor="let social of socialLinks"
        (click)="onSocialLinkClick(social.url)"
        [attr.aria-label]="social.name"
        class="social-button">
        <mat-icon>{{ social.icon }}</mat-icon>
      </button>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      <p>&copy; {{ currentYear }} Blog Platform. All rights reserved.</p>
    </div>
  </div>
</mat-toolbar>